@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.title_section {
  display: flex;
  align-items: center;
}

.title_section span {
  margin: 0 2rem 0 2rem;
  height: 1px;
  width: 100%;
  background-color: #2d2d2d;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  text-wrap: nowrap;
}

.about_text {
  font-size: 1.3rem;
  color: #ababab;
  text-align: justify;
}

.about_text2 {
  margin-top: 1.2rem;
  font-size: 1.3rem;
  color: #ababab;
  text-align: justify;
}

.text_section {
}

.content {
  display: flex;
  gap: 3rem;
}

.skills_section {
  width: 130vw;
}
