@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --topo: url("../../assets/topography.svg");
}

.container {
  width: 100%;
  height: 100vh;
  background-image: var(--topo);
  background-repeat: repeat;
  padding: 1rem;
}

.parent {
  max-width: 70vw;
  border-radius: 13px;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.207);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid #585858;
  padding: 2rem 3rem 2rem 3rem;
}

.title_section {
  display: flex;
  align-items: center;
}

.title_section span {
  margin: 0 2rem 0 2rem;
  height: 1px;
  width: 100%;
  background-color: #2d2d2d;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  text-wrap: nowrap;
}

.about_text {
  font-size: 1.3rem;
  color: #ababab;
  text-align: justify;
}

.about_text2 {
  margin-top: 1.2rem;
  font-size: 1.3rem;
  color: #ababab;
  text-align: justify;
}

.text_section {
}

.content {
  display: flex;
  gap: 3rem;
}

.skills_section {
  width: 130vw;
}
